# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/Springboot-Web-Services/dist
/Springboot-Web-Services/tmp
/Springboot-Web-Services/out-tsc

# dependencies
/Angular-Springboot/node_modules

# IDEs and editors
/.idea
/Springboot-Web-Services/.project
/Springboot-Web-Services/.classpath
.c9/
*.launch
/Springboot-Web-Services/.settings/
/Springboot-Web-Services/target/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
